// MAIN COLORS
    $darkblue: #0076be;
    $lightblue: #00aeef;
    $grey: #808080;
    $white: #FFFFFF;

// MEDIA QUERIES
    $minLg: 1200px;
    $minMd: 992px;
    $minSm: 768px;
    $maxMd: 1199px;
    $maxSm: 991px;
    $maxXs: 767px;
    $maxXxs: 539px;
    $maxXxxs: 479px;
    $maxXxxxs: 400px;
    $maxXxxxxs: 359px;
